[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
pipecat-ai = {extras = ["silero", "openai", "daily"], version = "*"}
torch = "==2.3.0"
torchaudio = "==2.3.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
