[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
fastapi = "*"
pipecat-ai = {extras = ["silero,openai,daily,elevenlabs"], version = "==0.0.43"}
python-dotenv = "*"
python-multipart = "*"
requests = "*"
torch = "==2.3.1"
torchaudio = "==2.3.1"
uvicorn = "*"

[dev-packages]
pytest = ">=8.3"
black = ">=24.8"
pylance = ">=0.18"

[requires]
python_version = "3.12"
